sphinx
sphinxcontrib-apidoc
sphinxcontrib-mermaid
# jupyterbook-latex
nbsphinx
sphinx-issues
sphinxcontrib-napoleon
sphinxcontrib-mermaid
#rinohtype
sphinx-book-theme
pydata-sphinx-theme
sphinx-rtd-theme
myst-parser
sphinxcontrib-bibtex
sphinxcontrib-apidoc
sphinx-autodoc-typehints
sphinx-autodoc-defaultargs
sphinx-toolbox
