jupyter-book
jupytext
nbsphinx
sphinx
sphinx_rtd_theme
sphinx-autoapi
sphinx-book-theme
sphinx-issues
sphinxcontrib-apidoc
sphinxcontrib-bibtex
sphinxcontrib-htmlhelp
sphinxcontrib-images
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinx-autodoc-typehints
sphinx-autodoc-defaultargs
furo
sphinx-material
sphinx-immaterial
sphinx-toolbox
