# MyST Markdown project configuration.
# See https://mystmd.org/guide/frontmatter and https://mystmd.org/guide/website
version: 1
project:
  id: {{ project_slug }}
  title: {{ project_name }}
  description: {{ project_description }}
  authors:
    - name: {{ user_name }}
      email: {{ user_email }}
  github: https://github.com/{{ github_user }}/{{ project_slug }}
  bibliography:
    - references.bib
  toc:
    - file: index.md
    - file: example.md
    - file: bibliography.md
    - file: readme.md
    - file: license.md
site:
  template: book-theme
  options:
    logo_text: {{ project_name }}
