"""CLI script for {{ package_name }}."""

from rich.console import Console
import typer

app = typer.Typer()
console = Console()


{% if _copier_conf.operation == "copy" %}
@app.command()
def main():
    """CLI script for {{ package_name }}."""
    console.print(
        r"""
  $$\      $$\           $$\
  $$ | $\  $$ |          $$ |
  $$ |$$$\ $$ | $$$$$$\  $$ | $$$$$$$\  $$$$$$\  $$$$$$\$$$$\   $$$$$$\
  $$ $$ $$\$$ |$$  __$$\ $$ |$$  _____|$$  __$$\ $$  _$$  _$$\ $$  __$$\
  $$$$  _$$$$ |$$$$$$$$ |$$ |$$ /      $$ /  $$ |$$ / $$ / $$ |$$$$$$$$ |
  $$$  / \$$$ |$$   ____|$$ |$$ |      $$ |  $$ |$$ | $$ | $$ |$$   ____|
  $$  /   \$$ |\$$$$$$$\ $$ |\$$$$$$$\ \$$$$$$  |$$ | $$ | $$ |\$$$$$$$\
  \__/     \__| \_______|\__| \_______| \______/ \__| \__| \__| \_______|

    """,
        style="green",
    )
    # https://patorjk.com/software/taag/
    console.print("Replace this message by putting your code into {{ package_name }}.cli.main")
    console.print("See Typer documentation at https://typer.tiangolo.com/")
{% endif %}


if __name__ == "__main__":
    app()
