# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# Author: {{ project_author }}
# eMail:  {{ email }}
# Date:   {% now 'local', '%Y-%m-%d' %}
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
"""Core module for {{ package_name }}."""

import logging

log = logging.getLogger(__name__)
