colorama
Deprecated
python-dotenv
ipython
ipywidgets
jupyter-book
jupyterbook-latex
jupyterlab
jupyternotify
jupytext
markdown
matplotlib
mystmd
nodejs
numpy
pandas
pytest
pytest-cov
python-dotenv
tqdm
xarray
