python-dotenv
ipython
jupyterlab
ipywidgets
nodejs
ipykernel
seaborn
tqdm
matplotlib
numpy
scipy
pandas
xarray
scikit-learn
netcdf4
pytest
docopt
click
jupyter-book
jupytext
jupyternotify
markdown
sphinx
sphinxcontrib-apidoc
sphinxcontrib-mermaid
jupyterbook-latex
nbsphinx
sphinx-issues
sphinxcontrib-napoleon2
rinohtype
sphinx-book-theme
pydata-sphinx-theme
sphinx-rtd-theme
myst-parser
sphinx-issues
sphinxcontrib-bibtex
sphinxcontrib-apidoc
sphinx-autodoc-typehints
sphinx-autodoc-defaultargs
#sphinx-toolbox
